/* variables de couleurs */
:root {
    --couleur-principale: #333;
    --couleur-texte: white;
    --couleur-background: #f4f4f4;
    --couleur-hover: #555;
}

/* styles généraux */
body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: var(--couleur-background);
}

header {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--couleur-principale);
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: var(--couleur-texte);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transition pour un changement de couleur en douceur */
}

nav a:hover {
    background-color: var(--couleur-hover);
}

/* Ajout de styles pour la classe 'show' */
nav.show ul {
    display: block !important; /* Utilisation de !important pour s'assurer que cette règle prend le dessus */
}

main {
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.trait {
    border-top: 1px solid var(--couleur-principale);
    margin-top: 20px;
}

/* Styles pour les écrans de bureau */
@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }

    header {
        padding: 0.5em;
    }

    nav a {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}

/* Ajout de styles spécifiques pour les smartphones */
@media (max-width: 767px) {
    nav ul {
        text-align: center;
        display: none;
    }

    nav li {
        display: block;
        margin: 0;
    }

    nav a {
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid var(--couleur-hover);
        color: var(--couleur-texte);
        text-decoration: none;
        font-weight: bold;
    }

    nav li:last-child a {
        margin-bottom: 0;
        border-bottom: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        color: var(--couleur-texte);
        font-size: 1.5em;
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    .atouts {
        margin: 20px auto;
        max-width: 100%;
    }

    .trait {
        margin-bottom: 20px;
    }
    
    .img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}
