/* variables de couleurs */
:root {
    --couleur-principale: #333;
    --couleur-texte: white;
    --couleur-background: #f4f4f4;
    --couleur-hover: #555;
}

/* styles généraux */
body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: var(--couleur-background);
}

header {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--couleur-principale);
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: var(--couleur-texte);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transition pour un changement de couleur en douceur */
}

nav a:hover {
    background-color: var(--couleur-hover);
}

main {
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.trait {
    border-top: 1px solid var(--couleur-principale);
    margin-top: 20px;
}

/* Styles pour les écrans de bureau */
@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }

    header {
        padding: 0.5em;
    }

    nav a {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}

/* Ajout de styles spécifiques pour les smartphones */
@media (max-width: 767px) {
    nav ul {
        text-align: center; /* Centrer les éléments du menu */
        display: none; /* Masquer les éléments du menu par défaut */
    }

    nav li {
        display: block;
        margin: 0;
    }

    nav a {
        display: block;
        padding: 10px;
        margin-bottom: 5px; /* Ajouter de l'espace entre les liens du menu */
        border-bottom: 1px solid var(--couleur-hover); /* Ajouter une bordure entre les liens */
        color: var(--couleur-texte);
        text-decoration: none;
        font-weight: bold;
    }

    nav li:last-child a {
        margin-bottom: 0; /* Ne pas ajouter d'espace sous le dernier lien */
        border-bottom: none; /* Ne pas ajouter de bordure sous le dernier lien */
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        color: var(--couleur-texte);
    }

    /* Réduire la taille de police pour une meilleure lisibilité */
    h1, h2, h3 {
        font-size: 1.2rem;
    }

    /* Ajuster la taille des images pour une meilleure mise en page sur les petits écrans */
    img {
        max-width: 100%;
        height: auto;
    }

    .atouts {
        margin: 20px auto; /* Ajout de marge sur les petits écrans */
        max-width: 100%; /* Assurez-vous que la largeur est à 100% sur les petits écrans */
    }

    .trait {
        margin-bottom: 20px; /* Réduction de la marge en bas sur les petits écrans */
    }
    
    .img {
        width: 60%; /* Ajustez la valeur selon vos préférences */
        margin: 0 auto; /* Centre l'image sur l'écran */
        display: block; /* Assure que l'image est un élément de bloc pour appliquer la marge automatique */
    }
}
