/* variables de couleurs */
:root {
    --couleur-principale: #333;
    --couleur-texte: white;
    --couleur-background: #f4f4f4;
    --couleur-hover: #555;
}

/* styles généraux */
body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: var(--couleur-background);
}

header {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte);
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--couleur-principale);
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: var(--couleur-texte);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transition pour un changement de couleur en douceur */
}

nav a:hover {
    background-color: var(--couleur-hover);
}

/* Ajout de styles pour la classe 'show' */
nav.show ul {
    display: block;
}

main {
    padding: 1em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.trait {
    border-top: 1px solid var(--couleur-principale);
    margin-top: 20px;
}

/* Styles pour les écrans de bureau */
@media only screen and (max-width: 768px) {
    body {
        width: 90%;
    }

    header {
        padding: 0.5em;
    }

    nav a {
        padding: 10px;
    }

    img {
        width: 100%;
    }

    /* Masquer le menu par défaut sur les écrans de bureau */
    nav ul {
        display: none; /* Masquez le menu par défaut sur les écrans de bureau */
    }

    /* Afficher le menu si la classe 'show' est présente sur les écrans de bureau */
    nav.show ul {
        display: block;
    }
}

/* Ajout de styles spécifiques pour les smartphones */
@media (max-width: 767px) {
    /* Désactivez complètement le menu pour les smartphones */
    nav ul {
        display: none;
    }

    nav li {
        display: block;
    }

    nav.show li {
        display: block;
    }

    nav a {
        padding: 14px 16px; /* Ajustez le padding pour correspondre à celui des écrans de bureau */
        border-bottom: none;
    }

    .menu-icon {
        display: block; /* Affichez l'icône du menu pour les smartphones */
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    .atouts {
        margin: 20px auto;
        max-width: 100%;
    }

    .trait {
        margin-bottom: 20px;
    }
    
    .img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }

    /* Afficher le menu si la classe 'show' est présente sur les smartphones */
    nav.show ul {
        display: block;
    }
}
/* Ajoutez ces styles à votre feuille de style CSS existante */
.contact-form {
    width: 100%;
    height: 100vh;
}

